/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  /* 1. Give the page a site-wide font-size of 10px (~ 0.625 rem | 1 rem = 16px).*/
  font-size: 0.625rem; 
  /* 3. Give your body text a suitable line-height.*/
  line-height: 1.5; 
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  /* 6. Give your body text some letter-spacing and word-spacing, as appropriate. */
  letter-spacing: 0.02rem;
  word-spacing: 0.03rem;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* 2. Give your headings and other element types appropriate font-sizes defined using a suitable relative unit.*/
h1 { 
  /*4. Center your top level heading on the page.*/
  display: flex;
  justify-content: center;
  font-size: 1.7rem; 
  /* 5. Give your headings a little bit of letter-spacing to make them not too squashed, and allow the letters to breathe a bit. */
  letter-spacing: 0.1rem;
}

h2 { 
  font-size: 1.25rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.03rem;;
}
/* 7. Give the first paragraph after each heading in the  <section> a little bit of text-indentation, say 1.25 rem. (hint: css property text-indent) */
section p { /* Only affects paragraphs within <section>*/
  text-indent: 1.25rem; 
}

/* 1. Give the link, visited, focus, and hover states some colors that go with the color of the horizontal bars at the top and bottom of the page. */
a {
  /* 2. Make it so that links are underlined by default, but when you hover or focus them the underline disappears. */
  text-decoration: underline;
  
  /* Applies smooth transitions to color and background-color changes over 0.2 seconds, 
   and to transform changes over 0.1 seconds when the element's state changes. */
  transition: color 0.2s ease, background-color 0.2s ease;
}
/* 4. Give the active state a noticeably different styling so it stands out nicely, 
but make it still fit in with the overall page design. */
a:active {
  background-color: rgba(255, 123, 123, 0.5);
}

a:hover{ /* Only affects links when hovered over */
  color: #FFA500;
  text-decoration: none;
  
}
a:focus{ /* Only affects links when selected via keyboard */
  color: #8d5000;
  /* 3. Remove the default focus outline from ALL the links on the page. */
  outline: none;
  text-decoration: none;
}
a:visited{ /* Only affects visited links */
  color: rgb(85, 26, 139);
}
/* Ensure consistent hover color regardless of visted/unvisited state */
a:visited:hover {
  color: #FFA500; 
}
/* Ensure consistent hover color regardless of focus state */
a:focus:hover {
  color: #FFA500; 
}
/* Switches color to p */
a:active:hover {
  color: rgb(85, 26, 139); 
}
